{{define "task/index.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>posts/index</title>
</head>
<body>
<h1>任务系统用户行为模拟</h1>
<div><p style="color:green">灰色输入框不可更改</p></div>
<form method="post" action="/api/action/mock">
    用户ID <input id="clear_user_id" name="clear_user_id" value="100">
    <button type="button" onclick="clearUserData()">清空用户数据,重新测试</button>

    <table class="table_task">
        <tr>
            <td>行为名称</td>
            <td>用户ID</td>
            <td>用户名</td>
            <td>注册时间</td>
            <td>用户行为ID</td>
            <td>游戏ID</td>
            <td>行为目标</td>
            <td>增加计数</td>
            <td>扩展数据</td>
            <td>说明</td>
            <td>操作</td>
        </tr>
        <tr>
            <td>用户登录一次</td>
            <td><input type="text" name="user_id" value="100"></td>
            <td><input type="text" name="username" value="user100"></td>
            <td><input type="text" name="register_time" value="2021-07-22 12:00:00"></td>
            <td><input type="text" name="action_id" readonly value="100"></td>
            <td>
                <select name="game_id">
                </select>
            </td>
            <td><input type="text" name="dest_type" readonly value="0"></td>
            <td><input type="text" name="incr_num" readonly value="1">天</td>
            <td>登录时间:<input type="text" name="extend" value="2021-07-22 12:21:12"></td>
            <td>可手动修改扩展数据中的时间,改模拟登录日期</td>
            <td>
                <button type="button" onclick="submitAction(this)">提交</button>
            </td>
        </tr>

        <tr>
            <td>全站APP登录一次</td>
            <td><input type="text" name="user_id" value="100"></td>
            <td><input type="text" name="username" value="user100"></td>
            <td><input type="text" name="register_time" value="2021-07-22 12:00:00"></td>
            <td><input type="text" name="action_id" readonly value="106"></td>
            <td>
                <select name="game_id">
                </select>
            </td>
            <td><input type="text" name="dest_type" readonly value="0"></td>
            <td><input type="text" name="incr_num" readonly value="1">天</td>
            <td>登录时间:<input type="text" name="extend" value="2021-07-22 12:21:12"></td>
            <td>可手动修改扩展数据中的时间,改模拟登录日期</td>
            <td>
                <button type="button" onclick="submitAction(this)">提交</button>
            </td>
        </tr>

        <tr>
            <td>用户在线时长</td>
            <td><input type="text" name="user_id" value="100"></td>
            <td><input type="text" name="username" value="user100"></td>
            <td><input type="text" name="register_time" value="2021-07-22 12:00:00"></td>
            <td><input type="text" name="action_id" readonly value="101"></td>
            <td>
                <select name="game_id">
                </select>
            </td>
            <td><input type="text" name="dest_type" readonly value="0"></td>
            <td><input type="text" name="incr_num" value="300">秒</td>
            <td></td>
            <td>计数数字表示秒数，300表示5分钟</td>
            <td>
                <button type="button" onclick="submitAction(this)">提交</button>
            </td>
        </tr>

        <tr>
            <td>存款</td>
            <td><input type="text" name="user_id" value="100"></td>
            <td><input type="text" name="username" value="user100"></td>
            <td><input type="text" name="register_time" value="2021-07-22 12:00:00"></td>
            <td><input type="text" name="action_id" readonly value="102"></td>
            <td>
                <select name="game_id">
                </select>
            </td>
            <td>
                <select name="dest_type">
                    <option value="0">任何平台</option>
                    <option value="1">体育平台</option>
                    <option value="101">其它平台</option>
                </select>
            </td>
            <td><input type="text" name="incr_num" value="100">元</td>
            <td></td>
            <td>计数数字表示金额</td>
            <td>
                <button type="button" onclick="submitAction(this)">提交</button>
            </td>
        </tr>

        <tr>
            <td>投注</td>
            <td><input type="text" name="user_id" value="100"></td>
            <td><input type="text" name="username" value="user100"></td>
            <td><input type="text" name="register_time" value="2021-07-22 12:00:00"></td>
            <td><input type="text" name="action_id" readonly value="103"></td>
            <td>
                <select name="game_id">
                </select>
            </td>
            <td>
                <select name="dest_type">
                    <option value="0">任何平台</option>
                    <option value="1">体育平台</option>
                    <option value="101">其它平台</option>
                </select>
            </td>
            <td><input type="text" name="incr_num" value="100">元</td>
            <td></td>
            <td>计数数字表示金额</td>
            <td>
                <button type="button" onclick="submitAction(this)">提交</button>
            </td>
        </tr>

        <tr>
            <td>盈利</td>
            <td><input type="text" name="user_id" value="100"></td>
            <td><input type="text" name="username" value="user100"></td>
            <td><input type="text" name="register_time" value="2021-07-22 12:00:00"></td>
            <td><input type="text" name="action_id" readonly value="104"></td>
            <td>
                <select name="game_id">
                </select>
            </td>
            <td>
                <select name="dest_type">
                    <option value="0">任何平台</option>
                    <option value="1">体育平台</option>
                    <option value="101">其它平台</option>
                </select>
            </td>
            <td><input type="text" name="incr_num" value="100">元</td>
            <td></td>
            <td>计数数字表示金额</td>
            <td>
                <button type="button" onclick="submitAction(this)">提交</button>
            </td>
        </tr>

        <tr>
            <td>完善用户信息</td>
            <td><input type="text" name="user_id" value="100"></td>
            <td><input type="text" name="username" value="user100"></td>
            <td><input type="text" name="register_time" value="2021-07-22 12:00:00"></td>
            <td><input type="text" name="action_id" readonly value="105"></td>
            <td>
                <select name="game_id">
                </select>
            </td>
            <td>
                <select name="dest_type">
                    <option value="bind_bank_card">绑定银行卡</option>
                    <option value="bind_withdraw_card">绑定提款银行卡</option>
                    <option value="bind_phone">绑定手机号</option>
                    <option value="set_realname">绑定真实姓名</option>
                </select>
            </td>
            <td><input type="text" readonly name="incr_num" value="1">次</td>
            <td></td>
            <td></td>
            <td>
                <button type="button" onclick="submitAction(this)">提交</button>
            </td>
        </tr>

    </table>
</form>
</body>
</html>
<script src="https://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript">
</script>
<script>

    window.onload = function () {

        var list = getGameList();
        $(':input[name=game_id]').append('<option value="0">不指定</option>');
        for (var i = 0; i < list.length; i++) {
            row = list[i]
            $(':input[name=game_id]').append('<option value="' + row.id + '">' + '[' + row.id + ']' + row.title + '</option>');
        }

        var game_id = getUrlParam("game_id")
        if (game_id != null && game_id > 0) {
            $(':input[name=game_id]').val(game_id)
        }

        var uid = getUrlParam("uid")
        var username = getUrlParam("username")

        if (uid != null && uid > 0) {
            $(":input[name=user_id]").val(uid);
            $("#clear_user_id").val(uid);
        }

        if (username != null && username.length > 0) {
            $(":input[name=username]").val(username);
        }
    }

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "H+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    function submitAction(scope) {
        var tr = $(scope).parent().parent()
        var user_id = tr.find("input[name='user_id']").val()
        var username = tr.find("input[name='username']").val()
        var register_time = tr.find("input[name='register_time']").val()
        var action_id = tr.find("input[name='action_id']").val()
        var dest_type = tr.find("input[name='dest_type']").val()
        var incr_num = tr.find("input[name='incr_num']").val()
        var game_id = tr.find("select[name='game_id']").val()


        if (action_id == 102 || action_id == 103 || action_id == 104 || action_id == 105) {
            dest_type = tr.find("select[name='dest_type']").val()
        }

        var extend_info = {}
        if (action_id == 105) {
            if (dest_type == "bind_bank_card") {
                extend_info.bind_bank_card = 1;
            }
            if (dest_type == "bind_withdraw_card") {
                extend_info.bind_withdraw_card = 1;
            }
            if (dest_type == "bind_phone") {
                extend_info.bind_phone = 1;
            }

            if (dest_type == "set_realname") {
                extend_info.set_realname = 1;
            }
            dest_type = 0;
        }

        if (action_id == 100 || action_id == 106) {
            var extend = tr.find("input[name='extend']").val()
            extend_info.login_time = extend
        }

        var platform_id = getUrlParam("platform_id");
        if (platform_id == null || platform_id <= 0) {
            platform_id = 10001;
        }

        var appid = getUrlParam("appid");
        if (appid == null || appid.length <= 0) {
            appid = 10000000;
        }

        var url = "/api/action/mock"
        var params = {
            "request_id": 'ID' + (new Date()).getTime(),
            "app_id": appid,
            "platform_id": parseInt(platform_id),
            "request_time": new Date().Format("yyyy-MM-dd HH:mm:ss"),
            "user_id": user_id,
            "username": username,
            "register_time": register_time,
            "action_id": parseInt(action_id),
            "game_id": parseInt(game_id),
            "dest_type": parseInt(dest_type),
            "incr_num": parseFloat(incr_num),
            "extend_info": extend_info
        }

        $.ajax({
            type: 'POST',
            url: url,
            contentType: "application/json",
            data: JSON.stringify(params),
            success: function (message) {
                alert("提交成功" + JSON.stringify(message))
            },
            error: function (message) {
                alert("提交失败" + JSON.stringify(message))
            }
        })
    }

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg); //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }

    function getGameList() {
        //https://yuanbao-test.kgtindok.com/api/getGamePlatform
        var url = "https://yuanbao-test.kgtindok.com/api/getGamePlatform"
        var ret_data = []
        $.ajax({
            type: 'GET',
            url: url,
            async: false,
            contentType: "application/json",
            success: function (message) {
                ret_data = message.data
            },
            error: function (message) {
                alert("提交失败" + JSON.stringify(message))
            }
        })
        return ret_data
    }

    function clearUserData() {
        var user_id = $("#clear_user_id").val();
        var url = "/api/action/clear"
        var params = {
            "app_id": "10000000",
            "platform_id": 1,
            "user_id": user_id
        }
        $.ajax({
            type: 'POST',
            url: url,
            contentType: "application/json",
            data: JSON.stringify(params),
            success: function (message) {
                alert("提交成功" + JSON.stringify(message))
            },
            error: function (message) {
                alert("提交失败" + JSON.stringify(message))
            }
        })
    }
</script>
<style>
    td {
        border: solid #000;
        border-width: 0px 1px 1px 0px;
    }

    table {
        border: solid #000;
        border-width: 1px 0px 0px 1px;
    }

    input[readonly] {
        background-color: #ccc
    }
</style>
{{end}}